.editor {
  display: flex;
  justify-content: center;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: #D0F0C0;
  border-radius: 6px;
}
.editor p {
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #011746;
  font-weight: bold;
  cursor: move;
}

textarea {
  background-color: #D0F0C0;
  color: white;
  border: none;
  outline: none;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;

  height: 200px;
  width: 500px;
}
